<div class="article-page">

  <header class="header">

    <img
      src="assets/logo_p6.png"
      alt="MDD"
      class="logo">

    <nav>
      <a class="active">Article</a>
      <a>Thèmes</a>
    </nav>

    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>

  </header>

  <div class="toolbar">

    <button
      mat-raised-button
      color="primary">
      Créer un article
    </button>

    <button mat-button>
      Trier par
      <mat-icon>arrow_downward</mat-icon>
    </button>

  </div>

  <div class="articles-container">

    <!-- cartes articles ici plus tard -->

  </div>

</div>
