.article-grid {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
   column-gap: 40px;
  row-gap: 28px;
}

.top-left {
  grid-column: 1;
}

.top-right {
  grid-column: 2;
  justify-self: right;

  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 500px) {
    .article-grid {
    grid-template-columns: 1fr;
  }

  .top-right {
    grid-column: 1;
    justify-self: center;
  }

  .top-left {
    justify-self: center;
  }
}
