<div class="register-page">

  <header class="register-header">

    <button
      mat-icon-button
      routerLink="/"
      aria-label="Retour">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <img
      src="assets/logo_p6.png"
      alt="Logo MDD"
      class="desktop-logo">

  </header>

  <img
    src="assets/logo_p6.png"
    alt="Logo MDD"
    class="mobile-logo">

  <h1>Inscription</h1>

  <form
    class="register-form" [formGroup]="registerForm"
    (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline">
      <mat-label>Nom d'utilisateur</mat-label>
      <input
        matInput formControlName="username">
      </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Adresse e-mail</mat-label>
      <input
        matInput
        type="email"
        formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mot de passe</mat-label>
      <input
        matInput
        type="password"
        formControlName="password">
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="submit-btn btn-rounded"
      type="submit">
      S'inscrire
    </button>

  </form>

</div>
