<div class="register-page">

  <header class="register-header">

    <button
      class="back-btn"
      routerLink="/">
      ←
    </button>

    <img
      src="assets/logo_p6.png"
      alt="Logo MDD"
      class="desktop-logo">

  </header>

  <img
    src="assets/logo_p6.png"
    alt="Logo MDD"
    class="mobile-logo">

  <h1>Inscription</h1>

  <form class="register-form">

    <div class="field">
      <label>Nom d'utilisateur</label>
      <input type="text">
    </div>

    <div class="field">
      <label>Adresse e-mail</label>
      <input type="email">
    </div>

    <div class="field">
      <label>Mot de passe</label>
      <input type="password">
    </div>

    <button
      type="button"
      class="submit-btn">
      S'inscrire
    </button>

  </form>

</div>

