
@use "../../../../../styles/variables" as *;

.article-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;

  padding: 10px 0;
  }

.input-field {
  width: 80%;
  max-width: 500px;
  margin-bottom: 20px;
}

.create-button {
  width: 40%;
  max-width: 250px;
}

@media (max-width: 500px) {
  .article-form-container {
   margin-top: 20px;
  }
}

textarea {
  height: 250px;
}


.back-icon {
  position: absolute;
  top: $header-height + 1.8;
  left: 0;
  padding: 10px;
  z-index: 10;
  font-size: $back-arrow-font-size;
}


@media (max-width: 500px) {
  .back-icon {
    top: $header-height;
    left: 20px;
  }
}
