.home-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.content {
  width: 100%;
  max-width: 835px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  max-width: 380px;
  width: 100%;
  height: auto;
}

.actions {
  margin-top: 80px;

  display: flex;
  gap: 60px;
}

.actions button {
  width: 170px;
  height: 45px;
  border-radius: 8px;
}

/* Smartphone */
@media (max-width: 768px) {
  .logo {
    max-width: 250px;
  }

  .actions {
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
  }

  .actions button {
    width: 220px;
  }
}
