.center {
  display: flex;
  flex-direction: column;
  align-items: center;
    width: 100%;
   margin: 0 auto;


  img {
    width: 80%;
    max-width: 600px;
    margin-bottom: 2rem;

    padding-top: 15vh;

    @media (max-width: 600px) {
      padding-top: 8vh;
    }

    @media (max-width: 500px) {
      padding-top: 3vh;
    }

  }

  .button-group {
    display: flex;
    gap: 5rem;

    padding: 10px;
    border-radius: 5px;

    padding-top: 2vh;

    @media (max-width: 600px) {
      padding-top: 7vh;
    }

    @media (max-width: 500px) {
      padding-top: 10vh;
      flex-direction: column;
      gap: 3rem;
    }

  }

  button {
    background-color: #ffffff;
    color: #000000;
    padding: 8px 50px;
    font-size: 18px;

    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 3px #000;
  }

  button:hover {
    background-color: #9575cd;
    color: #ffffff;
  }
}
